.idea
__pycache__
.DS_Store
.egg-info/
.ipynb_checkpoints
.tox
.pytest_cache
datasets/
lightning_logs/
logs/
requirements.txt
workspaces/
dataset_processed/
*.pt
hdf5s/
instruments_classification_notes3/
instruments_classification_notes_MIDI_class/
outputs/
pickles/
!End2End_Dataloading.ipynb
End2End/MIDI_program_Debug.ipynb
visualization
statistics
checkpoints
